
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <h2>@ViewBag.User.name</h2>
    <div><img src="@ViewBag.User.avatar" /></div>
  
</body>
</html>
