<?xml version="1.0" encoding="utf-8"?>
<Root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <app>
    <agentid>0</agentid>
    <app_name>企业小助手</app_name>
    <secret>Ov86sWnr6IJ4_rb5yba2kTo_DROKjBoecgVZrAaFS0I</secret>
    <access_token>-CKw17c383c0SNpoxKiwjequS4psM4LWJwKl3Goc8A2SyHG3KkoBg4_biQEAn0Ai6I1o0tnbLTQtht2S-0wtko1mDmwhdWkykw6P02Gc9M4pU84DAw55wIRz6yni4tmpk6wHdxpGOPYi7-nCjqCQiQ4RjtX1vAC9vfQ54vZktCC3KLGWkaOIxO_EbDr5Izse4CNtCFPavhAM7lYp4p7NYA</access_token>
    <expires_in>7200</expires_in>
    <last_update>2018/5/4 16:43:11</last_update>
  </app>
  <app>
    <agentid>1000002</agentid>
    <app_name>微调度</app_name>
    <secret>Q0FHMtPcSs0eyjThjAnypn7RlNjD4usaXbDupjZ1o-o</secret>
    <access_token>VQ3gAzxTiEx9LW_VNT3FzHpuWsAFST_vBpC1_-qQWW0iRXDbNyeyxDOSs7ZN4B_-FynC5oJqg_RSdsFSJ3vu3J7Dmc9soSatgafynEGmb7DJyrIa_scBgS2zadEAUZIQHF9AAErAe_IJGzm7nkI8_hEY7_mLW4x75UQNY6vIqiuL4TIo43BJod2YLLY4-VLUhbnvA01U8HnMeWTiyXGuiw</access_token>
    <expires_in>7200</expires_in>
    <last_update>2018-03-22 15:19:42</last_update>
  </app>
  <app>
    <agentid>1000012</agentid>
    <app_name>授权app</app_name>
    <secret>sBUET-Xf6xiO45Q1dk2vMyTE89LTQSeNbY9gW4-pg6A</secret>
    <access_token>0ZKNmjjvpqjWMQLBd337Nz31_UGqSqC-vW50wXFJil33SKBarzLkHrGZ-1m_Cuh6TTivuLbKhbRRKIIVgBjiJw_DGvOCqI2WneiDYUxottlJbHv1dhfyfav2xZK19FMTOkJcocLkMekp0xgza0T3MThz3vcwZNvCc985GU9zI_RO_T7W9b97TZPpDyNgZ3vGci0HhZhDS0NHqLtl_KqCwg</access_token>
    <expires_in>7200</expires_in>
    <last_update>2018/11/15 15:43:05</last_update>
  </app>
  <app>
    <agentid>Contacts</agentid>
    <app_name>通讯录</app_name>
    <secret>a8sS7teeWD9qixcurANDn98D6v-8yPhXeJNNteG653Q</secret>
    <access_token>Sag76CzpLyttLdZgR_G-2ZrhjFbSTfchYwguRuxdWaaxIlAZV3aR2eoBoP3gWrTWMgDX1tKVoJhM5F_esGJkMjPOvIaDDc7SXytCUSzjUNe4MFNH9eqnBlTSe5tr4pV7FeN4OmXrPvPCpJxjCa_Fte03RyPEeTx2x5ZS4rP2Lal6DjMpf0X40sSnBwwD1WISnXM2bZbppjcnAMnufnp1aQ</access_token>
    <expires_in>7200</expires_in>
    <last_update>2018/5/5 8:01:00</last_update>
  </app>
</Root>