<?xml version="1.0" encoding="utf-8"?>
<Root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <js_ticket>
    <ticket>kgt8ON7yVITDhtdwci0qeeoLVsR_h9ECCpn_aCsL8tBXY8CTorbe34s2X8H8wNElumuhZT3KNH3o3EU2rNuU8A</ticket>
    <expires_in>7200</expires_in>
    <last_update>2018/11/15 15:43:05</last_update>
  </js_ticket>
</Root>