<table class="bootstrap-table" id="period_grid" data-url='@Url.Action("GetSalaryPeriodList")' 
       data-side-pagination="server"       data-page-list="[10]" data-pagination="true" 
                   data-id-field="Id" data-unique-id="Id" >
    <thead>
        <tr>
            <th data-field="Id" data-align="center">序号</th>
            <th data-field="SalaryTypeName" data-align="center">类型</th>
            <th data-field="Period" data-align="center">工资区间</th>            
            <th data-field="UserName" data-align="center">上传人</th>
            <th data-field="CreationTime" data-align="center">上传时间</th>
        </tr>
        </thead>
</table>
