
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section subheader_title{
    外部单位/人员管理
}
<div class=" row">
    <div class="col-lg-4">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            外部单位
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                @*<div class="form-group m-form__group">
                    <input type="button" value="创建单位" class="btn btn-primary" onclick="createCompany()" />
                </div>*@
                <table class="bootstrap-table" id="companies_grid" data-url='@Url.Action("CompaniesGrid")'
                       data-side-pagination="server" data-page-list="[10]" data-pagination="true"
                       data-id-field="Id" data-unique-id="Id" data-single-select="true" data-striped="true" data-row-style="rowStyle">
                    <thead>
                        <tr>
                            <th data-field="DepartmentName" data-align="center">名称</th>                      
                            <th data-field="Id" data-formatter="actionFormatter" data-align="center">添加人员</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            外部人员
                        </h3>
                    </div>
                </div>
            </div>

            <div class="m-portlet__body">

                <table class="bootstrap-table" id="users_grid"
                       data-side-pagination="server" data-page-list="[10]" data-pagination="true" data-url='@Url.Action("UsersGrid")'
                       data-id-field="Id" data-unique-id="Id" data-single-select="true" data-striped="true" data-row-style="rowStyle">
                    <thead>
                        <tr>
                            <th data-field="Id" data-align="center">Id</th>
                            <th data-field="UserName" data-align="center">姓名</th>
                            <th data-field="Gender" data-align="center">性别</th>
                            <th data-field="TelPhone" data-align="center">手机号</th>
                            <th data-field="DepartmentName" data-align="center">单位</th>
                            <th data-field="Id" data-formatter="actionFormatter2" data-align="center">操作</th>
                        </tr>
                    </thead>
                </table>


            </div>

        </div>
    </div>


  
    <!--UserModal-->
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        外部人员信息维护
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
                <form class="m-form m-form--fit m-form--label-align-right" id="userForm">
                    <div class="m-portlet__body">
                        <div class="modal-body align-content-center">
                            <div class="form-group">
                                <label for="RoleName" class="form-control-label">
                                    姓名:
                                </label>
                                <input type="text" class="form-control" id="UserName" required>
                                <input type="hidden" id="UserId" />
                            </div>
                            <div class="form-group">
                                <label for="IDNumber" class="form-control-label">
                                    姓名全拼:
                                </label>
                                <input type="text" class="form-control" id="UserNumber" required>

                            </div>
                            <div class="form-group">
                                <div class="m-dropzone dropzone  m-dropzone--success" id="m-dropzone">
                                    <div class="m-dropzone__msg dz-message needsclick">
                                        <h3 class="m-dropzone__msg-title">
                                            点击或者拖拽图片
                                        </h3>
                                        <span class="m-dropzone__msg-desc">
                                            仅支持JPG,JPEG,PNG格式
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="TelPhone" class="form-control-label">
                                    联系方式:
                                </label>
                                <input type="text" class="form-control" id="TelPhone" required>

                            </div>
                            <div class="form-group">
                                <label for="Gender" class="form-control-label">
                                    性别:
                                </label>
                                <div class="m-radio-inline ">
                                    <label class="m-radio m-radio--solid m-radio--state-brand">
                                        <input type="radio" name="Gender" value="1" checked>
                                        男
                                        <span></span>
                                    </label>
                                    <label class="m-radio m-radio--solid m-radio--state-brand">
                                        <input type="radio" name="Gender" value="2">
                                        女
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">
                                保存
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--UserModal-->
    <!--Qrcode-->
    <div class="modal fade" id="qrcodeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog " role="document" style="width:300px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        人员唯一识别Code
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
                <div class="modal-body align-content-center">
                    <img id="qrcodeImg" />
                </div>
            
            </div>
        </div>
    </div>
    <!--Qrcode-->
</div>

<script>    
    var currentCompanyId = 0;
    var media_id= "";
    Dropzone.autoDiscover = false;
    $('#companies_grid,#users_grid').bootstrapTable({
        queryParams: function (params) {
            return {
                MaxResultCount: params.limit,
                PageNumber: (params.offset / params.limit)
            }
        }
    })
    $('#companies_grid').on('click-row.bs.table', function (e, row, element) {
        currentCompanyId=row.Id
        $('#users_grid').bootstrapTable('refresh', {
            url: '/ExternalCompany/UsersGrid',
            query: {
                ExternalCompanyId: row.Id
            }
        })

    });
    function actionFormatter(value, row, index) {
        return '\ <a href="#" onclick=\'addUser("' + value + '")\' class="m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="添加人员">\
							            <i class="la la-user-plus"></i>\
						</a>\
        ';
    }
    function actionFormatter2(value, row, index) {
        return '\	<a href="#" onclick=\'showQrcode("' + row.Code + '")\' class="m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="查看条码">\
							            <i class="la la-barcode"></i>\
						</a>\
						<a href="#"  onclick=\'removeUser("' + value + '")\' class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="删除">\
							<i class="la la-trash"></i>\
						</a>\
        ';
    }   
    function addUser(companyId) {
        $('#userForm').resetForm();
        currentCompanyId = companyId;
        $('#UserId').val(0)
        $('#userModal').modal('show');

    }
    function editUser(Id) {
        $('#userForm').resetForm();
        $.post('/ExternalCompany/GetUser', { Id: Id }, function (data) {
            $('#CompanyId').val(data.ExternalCompanyId)
            $('#UserId').val(data.Id)
            $('#UserName').val(data.UserName)
            $("#IDNumber").val(data.IDNumber)
            $("#TelPhone").val(data.TelPhone)
            $("input:radio[name=Gender][value='" + data.Gender + "']").prop("checked", "checked");
            $('#userModal').modal('show');
        })


    }

    function removeUser(Id) {
        bootbox.confirm("确定要删除该用户吗?", function (r) {
            if (r) {
                abp.ajax({
                    url: '/User/RemoveUser/',
                    data: JSON.stringify({ Id: Id })
                }).done(function (data) {
                    $('#users_grid').bootstrapTable('refresh', {
                        query: {
                            ExternalCompanyId: $('#CompanyId').val()
                        }
                    })
                    abp.notify.success(data.message);
                })

            }

        })

    }
    $('#userForm').submit(function (e) {
        e.preventDefault();
        abp.ajax({
            url: '/ExternalCompany/AddOrUpdateUser',
            data: JSON.stringify({
                'Id': $('#UserId').val(),
                'DepartmentId': currentCompanyId,
                'UserName': $('#UserName').val(),
                "UserNumber": $("#UserNumber").val(),
                "AvatarUrl": media_id,
                "TelPhone": $("#TelPhone").val(),
                'Gender': $("input[name='Gender']:checked").val()
            })
        }).done(function (data) {
            abp.notify.success(data.message);
            $('#userModal').modal('hide');
            $('#users_grid').bootstrapTable('refresh', {
                query: {
                    ExternalCompanyId: $('#CompanyId').val()
                }
            })
        })

    });

    function showQrcode(code) {
        var codeUrl = "/QrCode/GetQrCode?content="+ code
        $('#qrcodeImg').attr('src', codeUrl)
        $('#qrcodeModal').modal('show');
    }
  
    function showAvatar(Id) {
        $('#UserId').val(Id)
        $.post('/ExternalCompany/GetAvatar', { 'Id': Id }, function (data) {
            if (data != "")
                $('#AvatarImg').attr('src', "../Content/avatars/external/" + data+"?r="+ Math.random());
            else
                $('#AvatarImg').attr('src', "../Content/avatars/external/avatar.png");

        })
        $('#avatarModal').modal('show');
    }   


    $(document).ready(function () {
        myDropzone = new Dropzone('#m-dropzone', {
            url: '@Url.Action("SetAvatar/")' ,
        paramName: "file",
        maxFiles: 1,
        maxFilesize: 2,
        method: "post",
        acceptedFiles: ".jpg,.jpeg,.png",
        dictResponseError: '文件上传失败!',
        dictInvalidFileType: "你不能上传该类型文件,文件类型只能是图片",
        dictFallbackMessage: "浏览器不受支持",
        dictFileTooBig: "文件过大上传文件最大支持.",
        dictRemoveLinks: "删除",
        addRemoveLinks: true,
            init: function () {
                this.on("processing", function (file) {
                    this.options.url = '@Url.Action("SetAvatar/")' + $('#UserId').val();
                });
                this.on("success", function (file, data) {
                    media_id = data.result.message;             
                    abp.notify.success("上传成功")
               // $('#AvatarImg').attr('src', "../Content/avatars/external/" + data.result.message + "?r="+Math.random());
                //myDropzone.removeFile(file);
            }),
                this.on("error", function (file, data) {
                    abp.notify.error(data.Message);
                })

        }
    })

    })
</script>