<?xml version="1.0" encoding="utf-8"?>
<Root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <app>
    <agentid>0</agentid>
    <app_name>企业小助手</app_name>
    <secret>Ov86sWnr6IJ4_rb5yba2kTo_DROKjBoecgVZrAaFS0I</secret>
    <access_token>REh52fUCrFB-0ZvzEtcJY4KYR1ND1Ub9BrZgZXAgp39uQNFHkY0Ugvl9cRefjvfgolqvtG6YFeXBHIHEgHmio7JZ7QpiNDvOuUTPHQJkRF8OQJkfPL_DQPKDh3jE3iwRKNGUSOwzek6jMMwgzwxDSqMdYzf0lgGleG8WXfngMDuXRZj6PBAA6HluwYH1hX39GjEgi6WPJp_T6zHcanLSGw</access_token>
    <expires_in>7200</expires_in>
    <last_update>2018/12/2 17:35:38</last_update>
  </app>
  <app>
    <agentid>1000002</agentid>
    <app_name>微调度</app_name>
    <secret>Q0FHMtPcSs0eyjThjAnypn7RlNjD4usaXbDupjZ1o-o</secret>
    <access_token>VQ3gAzxTiEx9LW_VNT3FzHpuWsAFST_vBpC1_-qQWW0iRXDbNyeyxDOSs7ZN4B_-FynC5oJqg_RSdsFSJ3vu3J7Dmc9soSatgafynEGmb7DJyrIa_scBgS2zadEAUZIQHF9AAErAe_IJGzm7nkI8_hEY7_mLW4x75UQNY6vIqiuL4TIo43BJod2YLLY4-VLUhbnvA01U8HnMeWTiyXGuiw</access_token>
    <expires_in>7200</expires_in>
    <last_update>2018-03-22 15:19:42</last_update>
  </app>
  <app>
    <agentid>1000011</agentid>
    <app_name>授权app</app_name>
    <secret>06LTv2S5TZYQMzLkYY_ppSYMQewM9IvlL_0NeSSwFJk</secret>
    <access_token>xIJAXNygvFwcrX3bu3cWjyTOIZlH1pnr2NbTS1KLazY2kSjvr6br-Os_gOAHkO-tIryKizyPujEwGSC7aJyt5l5hkARcKIAgK83NJgR8v3YU-_rhQXDV1I_W_UrFuq9fbww6wPMpnSaYEQRKulyx73OHWq51eZHcXBAlzubV-62bXnmFBAVNDTO884VLMUBlIVKM6gm6T9JkYkZAI_DJiQ</access_token>
    <expires_in>7200</expires_in>
    <last_update>2018/9/27 19:54:10</last_update>
  </app>
  <app>
    <agentid>Contacts</agentid>
    <app_name>通讯录</app_name>
    <secret>a8sS7teeWD9qixcurANDnzmlwidkE6sYX033rlUh3vI</secret>
    <access_token>mxprm08IilFasXRIdxvSTzqY-0c-wIFeCB4Pb3Z0spi1_SU6yRO-ovSQIpxjPTaRJ6vHWLE6Yp3SBwMW8CCfmWY7SmnqplsAaqn-lJekkn7CrNO1-mP6PEicQWyqppwQFbwAU8r0PX6-2leIqZ0ruRWwf2o1jz6ZODziN7GU24dHaF9QSYnOvzYAcLU7I7cbrf5KtKb9BUvOR_Mj9RR1Rw</access_token>
    <expires_in>7200</expires_in>
    <last_update>2018/11/17 8:10:03</last_update>
  </app>
</Root>