
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section subheader_title{
    权限设置
}
<div class=" row">
    <div class="col-lg-7">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                           设置排班和审核人员
                        </h3>
                    </div>
                </div>
            </div>

            <div class="m-portlet__body">
                <table class="bootstrap-table" id="moduleDeps_grid" data-side-pagination="server" data-page-list="[100]" data-pagination="true" data-url='@Url.Action("GetPagedModuleDepartments","H2Module")'
                       data-id-field="Id" data-unique-id="Id" data-single-select="true" data-striped="true">
                    <thead>
                        <tr>
                            <th data-checkbox="true"></th>
                            <th data-field="Id" data-align="center">Id</th>
                            <th data-field="DepartmentName" data-align="center">科室</th>
                            <th data-field="DoUserName" data-formatter="DoUserFormatter" data-align="center">操作人员</th>
                            <th data-field="AuditorName" data-formatter="AuditorFormatter" data-align="center">审核人员</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>


    <div class="modal fade" id="usersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        选择用户
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" id="search_UserName" class="form-control" placeholder="输入姓名...">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" onclick="searchUser()">
                                        搜
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <table class="bootstrap-table" id="users_grid" data-side-pagination="server" data-page-list="[100]" data-pagination="true" data-url='@Url.Action("UserGrid","User")'
                                   data-id-field="Id" data-unique-id="Id" data-single-select="true" data-striped="true">
                                <thead>
                                    <tr>
                                        <th data-checkbox="true"></th>
                                        <th data-field="UserNumber" data-align="center">工号</th>
                                        <th data-field="UserName" data-align="center">姓名</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary" onclick="SaveModuleDepartment()">
                        确认
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var currentUserType = "";//操作人员/审核人员选择状态
    var module=@ViewBag.Module;
    function DoUserFormatter(value, row, index) {
        var userName = (value == null ? '未设置' : value);
        return "\
						<a href='javascript: openUsersGrid("+ JSON.stringify(row) + ",0)'   class='m-portlet__nav-link m-link' title='选中记录后点击修改'>\
							"+ userName +"\
						</a>\
        ";
    }
    function AuditorFormatter(value, row, index) {
        var userName = (value == null ? '未设置' : value);
        return "\
						<a href='javascript: openUsersGrid("+ JSON.stringify(row) + ",1)'   class='m-portlet__nav-link m-link' title='选中记录后点击修改'>\
							"+ userName + "\
						</a>\
        ";
    }
    $('#users_grid').bootstrapTable({
        queryParams: function (params) {
            return {
                MaxResultCount: 5,
                PageNumber: (params.offset / params.limit),
                UserName: $('#search_UserName').val()
            }
        }
    })
    function searchUser() {
        $('#users_grid').bootstrapTable('refresh', {
            UserName: $('#search_UserName').val()
        })
    }
    function openUsersGrid(permission, type) {    
        currentUserType = type;
        var selectRows = $('#moduleDeps_grid').bootstrapTable('getSelections');//获取选择的行      
        if (selectRows.length > 0 && (permission.DepartmentId == selectRows[0].DepartmentId))//当前选中行点击
        {
            $('#usersModal').modal('show');

        }
    }
    $('#moduleDeps_grid').bootstrapTable({
            queryParams: function (params) {
                return {
                    MaxResultCount: params.limit,
                    PageNumber: (params.offset / params.limit),
                    Module: module,
                    DepartmentName:""
                }
            }
    })

    function SaveModuleDepartment() {//提交
        var selects = $('#users_grid').bootstrapTable('getSelections');
        if (selects.length > 0) {
            var dep = $('#moduleDeps_grid').bootstrapTable('getSelections')[0];
            var userId = selects[0].Id
            var moduleDepartment = {
                Id: dep.Id,
                DepartmentId: dep.DepartmentId,
                Module:module
            };
            if (currentUserType == 0)
            {
                moduleDepartment.DoUserId = userId;               
                moduleDepartment.PermissionName ="@H2Service.Authorization.PermissionNames.Pages_Scheduling_Do";
            }
            else if (currentUserType == 1) {
                moduleDepartment.AuditorId = userId;               
                moduleDepartment.PermissionName = "@H2Service.Authorization.PermissionNames.Pages_Scheduling_Auditor";                   
            }
        }

            abp.ajax({
                url: "/H2Module/SetModulePermission",
                data: JSON.stringify(moduleDepartment)
            }).done(function (data) {
                abp.notify.success(data.message);
                $('#usersModal').modal("hide")
                $('#moduleDeps_grid').bootstrapTable('refresh', {});
               })
        }
    
</script>

